.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.bookList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  font-size: 1.5rem;
}

.noResult {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  font-size: 1.5rem;
}
