@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  /* font-weight: 400; */
  font-style: normal;
}

@font-face {
  font-family: "Wemakeprice-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --main-color: #d54e4e;
  --main-bg-color: #f8f3ed;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Pretendard-Regular";
  > main {
    width: 100%;
    max-width: 1200px;
    margin: 60px auto 0;
    padding: 0 20px;
  }
}

h1 {
  font-family: "Wemakeprice-Regular";
}
